################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoDbTest/v15
/MongoDbTest/bin/Debug
/MongoDbTest/obj/Debug
